body,
html {
  height: 100%;
  font-size: 10px;
  margin: 0 auto;
  font-family: Quicksand;
  letter-spacing: 2px;
  color: rgb(84, 89, 90);
  font-family: "a-otf-futo-go-b101-pr6n";
}

body {
  background: rgb(255, 255, 255);
}

.fixed-title {
  color: rgba(137, 183, 204);
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "futura-pt";
  letter-spacing: 1px;
}

.background-img {
  position: relative;
  background-image: url("../img/test1.png");
  height: calc(100% - 1.2rem);
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-title {
  /* position: absolute; */
  margin-top: 7rem;
  margin-bottom: 7rem;
  margin-left: 4rem;
  font-size: 35px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1.6px;
  font-family: futura-pt;
  color: rgb(0, 0, 0);
}

.content {
  margin-left: 4.6rem;
  margin-right: 4.6rem;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.title {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-bottom: 0.1rem;
  font-family: "futura-pt";
}

.title span {
  font-family: "Moon";
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.sub-title {
  font-family: "Moon";
  line-height: 2rem;
  margin-top: 2rem;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.document {
  font-family: "a-otf-futo-go-b101-pr6n";
  line-height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.map {
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}

@media screen and (max-width: 480px) {
}
